@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bold";
  src: local("Quicksand-Bold"),
  url('./assets/fonts/Quicksand-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "Regular";
  src: local("Quicksand-Regular"),
  url('./assets/fonts/Quicksand-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Light";
  src: local("Quicksand-Light"),
url('./assets/fonts/Quicksand-Light.ttf') format("truetype");
}